body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  /*these next 5 lines are from "csstricks-Perfect Full Page Background Image" 
  very useful to make image responsive and centered*/
  background: url(./assets/working-at-night.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;            
} 


h1 {
	font-size: 3.5rem;
	font-style: italic;
	color: #ff5309;
	background: rgba(0,0,0,0.60);
	border-radius: 90px;
	border: 0.3px solid #ff5309;
	padding: .5rem .5rem;
	margin-left: 2em;
	margin-right: 2em;

}

.bufferLogo {

	height: 4rem;

}

hr {
	border-color: #ff5309;
	border-width: 2px;
	max-width: 65px;
}

.buffer {
	height: 3rem;

}


.btn {
	/*border-radius is to make the button rounder.
	font-weight is to make font heavier*/
	font-weight: 700;
	border-radius: 90px;
	/*in this case we just use the css class instead 
	bootstrap class just to show options available*/
	text-transform: uppercase;
}

.btn:focus {
    outline: none; !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-primary {
	/*we use this btn-primary class only to modify colors since btn-primary 
	is the class we added in html to change the color button (bootstrap btn class)*/
	background-color: #ff5309;
	border-color: #ffffff;
	transform: all;

}


.btn-primary:hover {
	transition: 1s;
	color: #ff5309;
	background-color: white;
	border-color:  #ff5309;
	border-width: 4px;
}


/*we use this btn-xl class only to modify sizes, padding etc.since we used btn-xl 
 class in html to change the size of the button*/
.btn-xl {
	padding: 2.5rem 3.5rem; 
}

.button {
	margin-bottom: 5rem;
}